{% extends "base.html" %}

{% block head %}
	<style type="text/css">
		p img{
			margin:10px;
			float:left;
		}
		h3{
			clear:both;
		}
	</style>
{% endblock head %}

{% block content %}
<div class = "span10 offset1">
	<h1>About Us</h1>
	<h3 id="odetta">What is ODETTA?</h3>
	<p>
	The Online Database of Extragalactic Transient Theoretical Astrophysics (ODETTA) was created to share synthetic spectra resulting from radiative transfer simulations with the larger astrophysics community. As observers have started capturing transient events at a record pace, the interpretation of spectra has suddenly become critical to the both the short-term goals of follow-up programs trying to push the limits of how fast and frequently the scientific community can observe transients, as well as the long-term goals of science groups hoping to better understand the explosions.   
	</p>
	<h3 id="p1">Terence Sun</h3>
	<p>
		<img src="http://lorempixel.com/150/150/cats/" alt="Profile Picture" title="Person 1" class="img-polaroid">
		Terence is in the undergraduate class of 2017 at Carnegie Mellon University in Pittsburgh, PA studying Electrical and Computer Engineering. In the summer of 2013, Terence worked at NERSC to help create the ODETTA gateway.
	</p>
	<h3 id="p2">Tony Wang</h3>
	<p>
		<img src="http://lorempixel.com/150/150/food/" alt="Profile Picture" title="Person 1" class="img-polaroid">
		Tony Wang is a 17 year old high school graduate going undeclared to UC Berkeley, but is very interested in computer science. He has worked at NERSC for two summers with the Outreach, Software, and Programming group. 
		
	</p>
	<h3 id="p4">János Botyánszki</h3>
	<p>
		<img src="http://lorempixel.com/150/150/abstract/" alt="Profile Picture" title="Person 1" class="img-polaroid">
	János Botyánszki is the co-founder of ODETTA and graduate student at U.C. Berkeley. His goal with ODETTA is to create a convenient and fast tool for observers and theorists working with transients. He is developing the back-end fitting functionality of the site, and is the administrator for the databases. In the near future, his work with Professor Daniel Kasen will provide nebular supernova spectra for ODETTA.  
</p>
	<h3 id="p4">Daniel Kasen</h3>
	<p>
		<img src="http://lorempixel.com/150/150/people/" alt="Profile Picture" title="Person 1" class="img-polaroid">
	Daniel Kasen is the co-founder of ODETTA and professor at U.C. Berkeley. He is one of the pioneers of modern supernova radiative transfer simulations, and you can find many of his own synthetic spectra in our databases.</p>
	<h3 id="p3">Annette Greiner</h3>
	<p>
		<img src="http://lorempixel.com/150/150/animals/" alt="Profile Picture" title="Person 1" class="img-polaroid">
	</p>
</div>
{% endblock content %}
